/src/image_trans
/src/plumbing_server_client
/.catkin_workspace
/src/camera/src/
/src/lidar/
/src/deepsort/
/src/dynamic_object_visualization_cam/
/src/video/
*.vscode
*.idea

# catkin_make
/build
/devel

# 权重文件
*.pt
*.pth
*.so
*.trt
*.engine

# samples
*.mp4
*.jpg
*.zip
*.tar.xz



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
src/lidar/cluster_and_ml/CMakeLists.txt
src/lidar/cluster_and_ml/package.xml
src/lidar/cluster_and_ml/config/params.yaml
src/lidar/cluster_and_ml/include/visualization.h
src/lidar/cluster_and_ml/include/voxelFilter.h
src/lidar/cluster_and_ml/include/xgboostpp.h
src/lidar/cluster_and_ml/launch/cluster.launch
src/lidar/cluster_and_ml/model/model.xgb
src/lidar/cluster_and_ml/src/main.cpp
src/lidar/cluster_and_ml/src/visualization.cpp
src/lidar/cluster_and_ml/src/voxelFilter.cpp
src/lidar/dynamic_object_visualization/CMakeLists.txt
src/lidar/dynamic_object_visualization/package.xml
src/lidar/dynamic_object_visualization/include/dynamic_object_visualization/dynamic_object_visualizer.h
src/lidar/dynamic_object_visualization/launch/2d_dynamic_object_visualizer.launch
src/lidar/dynamic_object_visualization/launch/dynamic_object_handwave.launch
src/lidar/dynamic_object_visualization/launch/dynamic_object_visualizer.launch
src/lidar/dynamic_object_visualization/launch/fusion_object_visualizer.launch
src/lidar/dynamic_object_visualization/src/dynamic_object_visualizer.cpp
src/lidar/dynamic_object_visualization/src/main.cpp
src/lidar/multi_object_tracker/CMakeLists.txt
src/lidar/multi_object_tracker/package.xml
src/lidar/multi_object_tracker/README.md
src/lidar/multi_object_tracker/config/data_assosiaction_matrix.yaml
src/lidar/multi_object_tracker/include/multi_object_tracker/node.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/data_association/data_association.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/tracker/tracker.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/tracker/model/tracker_base.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/tracker/model/vehicle_tracker.hpp
src/lidar/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
src/lidar/multi_object_tracker/launch/multi_object_tracker.launch
src/lidar/multi_object_tracker/src/main.cpp
src/lidar/multi_object_tracker/src/node.cpp
src/lidar/multi_object_tracker/src/data_association/data_association.cpp
src/lidar/multi_object_tracker/src/data_association/successive_shortest_path/successive_shortest_path.cpp
src/lidar/multi_object_tracker/src/data_association/successive_shortest_path/successive_shortest_path.h
src/lidar/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
src/lidar/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
src/lidar/multi_object_tracker/src/tracker/model/tracker_base.cpp
src/lidar/multi_object_tracker/src/tracker/model/vehicle_tracker.cpp
src/lidar/multi_object_tracker/src/utils/utils.cpp
src/lidar/shape_estimation/CMakeLists.txt
src/lidar/shape_estimation/package.xml
src/lidar/shape_estimation/README.md
src/lidar/shape_estimation/include/shape_estimation/corrector_interface.hpp
src/lidar/shape_estimation/include/shape_estimation/filter_interface.hpp
src/lidar/shape_estimation/include/shape_estimation/map_corrector_node.hpp
src/lidar/shape_estimation/include/shape_estimation/model_interface.hpp
src/lidar/shape_estimation/include/shape_estimation/node.hpp
src/lidar/shape_estimation/include/shape_estimation/shape_estimator.hpp
src/lidar/shape_estimation/include/shape_estimation/vector_map.hpp
src/lidar/shape_estimation/launch/shape_estimation.launch
src/lidar/shape_estimation/src/main.cpp
src/lidar/shape_estimation/src/node.cpp
src/lidar/shape_estimation/src/shape_estimator.cpp
src/lidar/shape_estimation/src/corrector/normal/bus_corrector.cpp
src/lidar/shape_estimation/src/corrector/normal/bus_corrector.hpp
src/lidar/shape_estimation/src/corrector/normal/car_corrector.cpp
src/lidar/shape_estimation/src/corrector/normal/car_corrector.hpp
src/lidar/shape_estimation/src/corrector/normal/no_corrector.cpp
src/lidar/shape_estimation/src/corrector/normal/no_corrector.hpp
src/lidar/shape_estimation/src/corrector/normal/truck_corrector.cpp
src/lidar/shape_estimation/src/corrector/normal/truck_corrector.hpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/bus_corrector.cpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/bus_corrector.hpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/car_corrector.cpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/car_corrector.hpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/no_corrector.cpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/no_corrector.hpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/truck_corrector.cpp
src/lidar/shape_estimation/src/corrector/yaw_fixed/truck_corrector.hpp
src/lidar/shape_estimation/src/filter/bus_filter.cpp
src/lidar/shape_estimation/src/filter/bus_filter.hpp
src/lidar/shape_estimation/src/filter/car_filter.cpp
src/lidar/shape_estimation/src/filter/car_filter.hpp
src/lidar/shape_estimation/src/filter/no_filter.cpp
src/lidar/shape_estimation/src/filter/no_filter.hpp
src/lidar/shape_estimation/src/filter/truck_filter.cpp
src/lidar/shape_estimation/src/filter/truck_filter.hpp
src/lidar/shape_estimation/src/map_corrector/map_corrector_interface.hpp
src/lidar/shape_estimation/src/map_corrector/map_corrector_node.cpp
src/lidar/shape_estimation/src/map_corrector/no_map_corrector.cpp
src/lidar/shape_estimation/src/map_corrector/no_map_corrector.hpp
src/lidar/shape_estimation/src/map_corrector/vector_map.cpp
src/lidar/shape_estimation/src/map_corrector/vehicle_map_corrector.cpp
src/lidar/shape_estimation/src/map_corrector/vehicle_map_corrector.hpp
src/lidar/shape_estimation/src/model/normal/bounding_box.cpp
src/lidar/shape_estimation/src/model/normal/bounding_box.hpp
src/lidar/shape_estimation/src/model/normal/convex_hull.cpp
src/lidar/shape_estimation/src/model/normal/convex_hull.hpp
src/lidar/shape_estimation/src/model/normal/cylinder.cpp
src/lidar/shape_estimation/src/model/normal/cylinder.hpp
src/lidar/shape_estimation/src/model/yaw_fixed/bounding_box.cpp
src/lidar/shape_estimation/src/model/yaw_fixed/bounding_box.hpp
